@font-face {
  font-family: Gotham;
  src: url("../assets/fonts/GothamBook.ttf"); }
html, body {
  height: 1080px;
  width: 1920px;
  margin: 0;
  overflow: hidden; }

.container-fluid {
  width: 98%;
  padding-right: 1%;
  padding-left: 1%;
  margin-right: auto;
  margin-left: auto; }

.content {
  opacity: 1;
  transition: 1s; }
  .content .home-button {
    position: absolute;
    bottom: 50px;
    right: 50px; }
  .content .back-button {
    position: absolute;
    top: 50px;
    left: 50px; }

.inner-content {
  opacity: 1;
  transition: 1s; }

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-around {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.arrow {
  position: absolute;
  top: 50%;
  width: 6vmin;
  height: 6vmin;
  background: transparent;
  border-top: 0.2vmin solid white;
  border-right: 0.2vmin solid white;
  transition: all 200ms ease; }
  .arrow.left {
    left: 2em;
    transform: translate3d(0, -50%, 0) rotate(-135deg); }
  .arrow.right {
    right: 2em;
    transform: translate3d(0, -50%, 0) rotate(45deg); }
  .arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%; }

* {
  font-family: 'Gotham'; }

.index-container {
  background-image: url("../assets/main-bg.jpg");
  height: 100vh; }
  .index-container .index-inner {
    padding: 100px 0 0 235px;
    height: 926px; }

.inner-content h3 {
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  max-width: 410px; }

.commercials-full {
  background: url("../assets/commercials-bg.jpg"); }

.stories-full {
  background: url("../assets/stories-bg.jpg"); }

.photos-full {
  background: url("../assets/photos-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.stories-container, .commercials-container, .photos-container {
  width: 100%;
  height: 62vh;
  margin: 280px 70px; }
  .stories-container h1, .commercials-container h1, .photos-container h1 {
    text-transform: uppercase; }

.photos-container {
  transition: 1s; }
  .photos-container .inner-content div {
    width: 410px;
    min-height: 250px;
    max-height: auto;
    background-repeat: no-repeat;
    background-size: cover; }
    .photos-container .inner-content div img {
      height: 250px;
      width: auto;
      max-width: 410px; }

.page-dots {
  position: absolute;
  bottom: 60px;
  left: 250px;
  height: 20px;
  align-items: center; }
  .page-dots .dot {
    height: 10px;
    width: 10px;
    background: #f9f9f9;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 0.5;
    transition: 1s; }
    .page-dots .dot.active {
      opacity: 1;
      border: 1px solid #f9f9f9; }

.fullscreen-container, .screensaver-container {
  width: 100%;
  height: 100vh;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 1s; }

video:not(#video-full), .photo, .commercials-container img, .stories-container img {
  border: 2px solid white; }

.control {
  width: 1200px;
  position: absolute;
  bottom: 10px;
  left: 360px;
  height: 100px; }
  .control .progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    top: 50px;
    background-color: #f9f9f9; }
  .control .timeBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0b3a5d; }

.hover-box {
  width: 435px;
  height: 240px; }

.fade-out {
  opacity: 0; }

.fade-in {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
