@import 'partials/typography';
@import 'partials/layout';
@import 'partials/arrows';

* {
	font-family: 'Gotham';
}

.index-container {
	background-image: url('../assets/main-bg.jpg');
	height: 100vh;

	.index-inner {
		padding: 100px 0 0 235px;
		height: 926px;
	}
}

.inner-content {
	h3 {
		font-size: 19px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: white;
		max-width: 410px;
	}
}

.commercials-full {
	background: url('../assets/commercials-bg.jpg');
}

.stories-full {
	background: url('../assets/stories-bg.jpg');
}

.photos-full {
	background: url('../assets/photos-bg.jpg');
	//background: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.stories-container, .commercials-container, .photos-container {
	width: 100%;
	height: 62vh;
	margin: 280px 70px;

	h1 {
		text-transform: uppercase;
	}
}

.photos-container {
	transition: 1s;
	.inner-content {
		div {
			width: 410px;
			min-height: 250px;
			max-height: auto;
			background-repeat: no-repeat;
			background-size: cover;

			img {
				height: 250px;
				width: auto;
				max-width: 410px;
			}
		}
	}
}

.fullscreen-container {
	width: 100%;
	height: 100vh;
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: 1s;
}

video, .photo {
	border: 2px solid white;
}

.hover-box {
	width: 435px;
	height: 240px;
	//border: 1px solid black;
}

.fade-out {
	opacity: 0;
}

.fade-in {
	opacity: 0;
}