/bootstrap
/advisory
/commercials
/stories
/photos
/content-arrays
/brightauthor
/assets/advisory
/assets/commercials
/assets/stories

main-bg.jpg
stories-bg.jpg
advisory-bg.jpg
commercials-bg.jpg
photos-bg.jpg
screensaver.mp4

*.xml
*.bwc
*.brs
*.zip
*.DS_Store