.arrow {
	position: absolute;
	top: 50%;
	width: 6vmin;
	height: 6vmin;
	background: transparent;
	border-top: 0.2vmin solid white;
	border-right: 0.2vmin solid white;
	transition: all 200ms ease;
	
	&.left {
		left: 2em;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 2em;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	
	&:before { // for better hit area
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}