html, body {
	height: 100%;
	margin: 0;
  overflow: hidden;
}

.container-fluid {
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
	margin-right: auto;
	margin-left: auto;
}

.content {
	opacity: 1;
	transition: 1s;

	.home-button {
		position: absolute;
		bottom: 50px;
		right: 50px;
		border: 2px solid #231f20;
		border-radius: 50%;
	}
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.justify-content-around {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-around !important;
}

.flex-row {
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.d-flex {
	display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
